.backpack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.backpack-heading {
    margin-top: 0.3rem;
}

.backpack-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 12rem;
    gap: 0.5rem;
}

.backpack-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.backpack-label {
    margin-top: 0;
}

.backpack-item-img {
    width: 3rem;
    aspect-ratio: square;
}