.card-box {
    aspect-ratio: 63 / 88;
    display: flex;
    flex-direction: column;
    color: #111;
    background-color: #ccc;
    border-radius: 0.5rem;
    border: 3px solid #111;
    overflow: hidden;
    user-select: none;
}

.card-large {
    width: 18rem;
}

.card-medium {
    width: 10rem;
}

.card-small {
    width: 6rem;
}

.selectable:hover {
    border: 3px solid var(--accent-color);
    cursor: pointer;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-type {
    width: 16%;
    background-position: center;
    background-repeat: no-repeat;
}

.card-title {
    padding: 0.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.card-footer {
    display: flex;
    justify-content: right;
}

.card-number {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 2.6rem;
    background-color: #999;
}

.forge {
    background-color: var(--red);
    background-image: url('images/svg/forge.svg');
}

.spark {
    background-color: var(--yellow);
    background-image: url('images/svg/spark.svg');
}

.root {
    background-color: var(--green);
    background-image: url('images/svg/root.svg');
}

.wave {
    background-color: var(--cyan);
    background-image: url('images/svg/wave.svg');
}

.deep {
    background-color: var(--indigo);
    background-image: url('images/svg/deep.svg');
}

.veil {
    background-color: var(--violet);
    background-image: url('images/svg/veil.svg');
}

.null {
    background-color: #999;
    background-image: url('images/svg/null.svg');
}

.card-text {
    display: block;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    background-color: #eee;
    color: #111;
}

.grayscale {
    filter: grayscale(0.75);
}