/* main body font */
@font-face {
    font-family: 'lexend';
    src: url('assets/fonts/lexend.ttf') format('truetype');
}

/* main title font */
@font-face {
    font-family: 'pineapple';
    src: url('assets/fonts/pineappledemo.ttf') format('truetype');
}