/*  @/styles/global.css  */

.encounter img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.map img {
  width: 75%;
  aspect-ratio: square;
}

#backpack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.backpack-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-item {
  width: 4rem;
  aspect-ratio: square;
}