/*  @/styles/global.css  */
body {
  background-color: var(--background-color);
  color: var(--background-text);
  font-family: var(--text-font);
  box-sizing: border-box;
}

body h1,
body h2,
body h3,
body h4 {
    font-family: var(--title-font);
    font-weight: normal;
}

h4 {
  margin-bottom: 0.3rem;
}

body a,
body a:hover {
    color: var(--accent-color);
}

/* TODO change this */
.mergimal-image {
  width: 32rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.concept {
  width: 32rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* this doesn't work? */

#ui-dialog-title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.draggable {
  border: 2px solid black;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.4rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #111;
  cursor: move;
  z-index: 100;
}

.droppable {
  border: 2px dashed purple;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.4rem;
  background-color: #fff;
}

.droppable-active {
  border: 2px solid purple;
}
