/*  @/styles/global.css  */

@import url('https://fonts.cdnfonts.com/css/lexend');

body {
  font-family: 'Lexend', sans-serif;
}

h4 {
  margin-bottom: 0.3rem;
}

.mergimal-image {
  width: 36rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map-div {
  display: flex;
  justify-content: center;
}

.map-image {
  height: 36rem;
  aspect-ratio: square;
}

#backpack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.backpack-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.backpack-label {
  margin-top: 0;
}

.image-item {
  width: 3rem;
  aspect-ratio: square;
}