.map-container {
    display: flex;
    justify-content: center;
}

.map-grid {
    display: grid;
    grid: repeat(40, 1fr) / repeat(40, 1fr);
}

.map-img {
    width: 32rem;
    grid-area: 5 / 5 / span 32 / span 32;
}

.move-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(56, 100%, 50%);
}

.move-btn:hover {
    background-color: hsl(60, 100%, 81%);
}

.north {
    grid-area: 1 / 19 / span 3 / span 4;
    background-image: url('../images/svg/north.svg');
}

.east {
    grid-area: 19 / 38 / span 4 / span 3;
    background-image: url('../images/svg/east.svg');
}

.west {
    grid-area: 19 / 1 / span 4 / span 3;
    background-image: url('../images/svg/west.svg');
}

.south {
    grid-area: 38 / 19 / span 3 / span 4;
    background-image: url('../images/svg/south.svg');
}
