.map-container {
    display: flex;
    justify-content: center;
}

.map-grid {
    display: grid;
    grid: repeat(32, 1fr) / repeat(32, 1fr);
}

.map-img {
    width: 36rem;
    grid-area: 1 / 1 / span 32 / span 32;
}

.move-btn {
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: hsl(56, 100%, 50%);
    border-radius: 0.4rem;
    background-size: 1.8rem;
}

.move-btn:hover {
    background-color: hsl(60, 100%, 81%);
}

.north {
    grid-area: 2 / 15 / span 2 / span 4;
    background-image: url('images/svg/north.svg');
}

.east {
    grid-area: 15 / 30 / span 4 / span 2;
    background-image: url('images/svg/east.svg');
}

.west {
    grid-area: 15 / 2 / span 4 / span 2;
    background-image: url('images/svg/west.svg');
}

.south {
    grid-area: 30 / 15 / span 2 / span 4;
    background-image: url('images/svg/south.svg');
}

/* world map stuff */

.world-map-container {
    display: flex;
    justify-content: center;
}

.world-map-grid {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
}

.world-map-img {
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / span 10 / span 10;
}

.position-marker {
  width: 0.75rem;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  align-self: center;
  justify-self: center;
  border: 1px solid var(--darkest);
}

.quest-marker {
  width: 0.75rem;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  align-self: center;
  justify-self: center;
  border: 1px solid var(--red)
}

.world-map-fog {
  background-color: #000;
  opacity: 0.5;
}

/* general stuff */

#explore-box {
  display: flex;
  flex-direction: column;
}

.choices {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}