.map-container {
    display: flex;
    justify-content: center;
}

.map-grid {
    display: grid;
    grid: repeat(32, 1fr) / repeat(32, 1fr)
}

.map-img {
    grid-area: 1 / 1 / span 32 / span 32;
}