.portrait {
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 3px solid transparent;
  width: 96px;
  height: 64px;
}

.selected {
  border: 3px solid var(--background-text) !important;
}

.char-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  padding: 1rem;
}

.char-info-label {
  margin-top: 0;
}

.char-info-portrait {
  width: 96px;
  height: 64px;
  border-radius: 0.4rem;
}

.char-swap-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.char-color {
  width: 4rem;
  height: 2rem;
  border: 3px solid transparent;
  border-radius: 0.4rem;
}