.portrait {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 3px solid transparent;
    width: 96px;
    height: 64px;
}

.selected {
    border: 3px solid var(--green) !important;
}

