/* customizer variables */
:root {
    --text-font: lexend;
    --title-font: pineapple;
    --background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --background-color-h: 240;
    --background-color-s: 10.4%;
    --background-color-l: 13.1%;
    --background-color-a: 0.30;
    --background-text: hsl(var(--background-text-h), var(--background-text-s), var(--background-text-l));
    --background-text-h: 240;
    --background-text-s: 9.1%;
    --background-text-l: 87.1%;
    --background-text-a: 1.00;
    --sidebar-color: hsl(var(--sidebar-color-h), var(--sidebar-color-s), var(--sidebar-color-l));
    --sidebar-color-h: 0;
    --sidebar-color-s: 0.0%;
    --sidebar-color-l: 4.7%;
    --sidebar-color-a: 0.70;
    --sidebar-text: hsl(var(--sidebar-text-h), var(--sidebar-text-s), var(--sidebar-text-l));
    --sidebar-text-h: 0;
    --sidebar-text-s: 0.0%;
    --sidebar-text-l: 79.6%;
    --sidebar-text-a: 1.00;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-h: 347;
    --accent-color-s: 50.8%;
    --accent-color-l: 51.4%;
    --accent-color-a: 1.00;
    --accent-text: hsl(var(--accent-text-h), var(--accent-text-s), var(--accent-text-l));
    --accent-text-h: 0;
    --accent-text-s: 0.0%;
    --accent-text-l: 100.0%;
    --accent-text-a: 1.00;
    --sidebar-color-hsla: hsla(var(--sidebar-color-h), var(--sidebar-color-s), var(--sidebar-color-l), var(--sidebar-color-a));
  }