#story-title {
    margin-top: 1rem;
}

#sidebar-char-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 0.5rem;
    color: #111;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
}

.char-swap-div {
    border: 3px solid transparent;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#char-sheet-button-boxes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.char-sheet-button-box {
    display: flex;
    background-color: #bbb;
    width: 2.2rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.char-sheet-button-box:hover {
    background-color: #999;
}