.say {
    border: 1px solid #eee;
    overflow: auto;
    display: grid;
    grid: 2rem auto / 8rem auto;
}

.portrait-box {
    grid-area: 1 / 1 / span 2 / span 1;
    height: 8rem;
}

.portrait-img {
    height: 8rem;
}

.name-box {
    grid-area: 1 / 2;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 0.6em;
    border-bottom: 1px solid #eee;
}

.speech-box {
    grid-area: 2 / 2;
    padding: 0.6rem;
    margin: 0;
}